
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Data/artifacts
data/
experiments/
figures/*
!figures/confusion.png
!figures/misclassified.png
partitions/*.npy

# PyTorch checkpoints
*.pt
*.pth

# OS files
.DS_Store
Thumbs.db
